# .github/workflows/sonar.yml
name: SonarCloud Analysis

on: [push, pull_request]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and test
        run: mvn clean verify

      - name: Run SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn sonar:sonar \
            -Dsonar.projectKey=teodorakrunlic_TaskFlow-Analysis \  # ⭐ PROMENI OVO! ⭐
            -Dsonar.organization=teodorakrunlic \
            -Dsonar.host.url=https://sonarcloud.io